.Video-template{
  padding: 1rem;
}
.Video-template h4{
  color: #fff;
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-transform: uppercase;
  max-width: 400px;
  margin: auto;
}
.Video-template .subtitle{
  text-align: start;
  color: #75706A;
  margin: 0;
}

.Video-template .link{
  color: #797DD4;
  width: fit-content;
  text-decoration: none;
  border-bottom: 1px solid;
  padding-bottom: 0.5rem;
}
.Video-template .arrow-link{
  rotate: 270deg;
  background-color: #797DD4;
  border-radius: 50%;
  margin: 0 1rem;
  padding: 2px;
}